h1 {font-family: Verdana, sans-serif;
      font-size: 50px;
      color: white;
      text-align: center;
      background-color: black;
    }

.cta   {
    font-family: Verdana, sans-serif;
    color: Aquamarine;
    font-size: 16px;
    background-color: black;

  }

body {background-color: black !important;
    text-align: center;}

h2 {font-family:  Verdana, sans-serif;
    color: white;
    font-weight: 300;
    fot-size: 42 px;

h3 {font-family: Verdana, sans-serif;
    font-size: 21px;
    color: gray;
    }
